@import '../mixins';

.graph-input-container {
    display:flex;
    justify-content: center;
    padding:1em 0 0 0;
}

.linear-regression-component-container {
    text-align:center;
    background: 
    radial-gradient(circle at left,transparent 50%,rgba(0,0,0,.04) 0),
    radial-gradient(circle at top left,transparent 50%,rgba(0,0,0,.04) 0),
    linear-gradient(0deg,#d0dbf3,rgba(208,219,243,0));
    input[type="submit"] {
        @include buttonOrange();
    }

    h2 {@include subtitle}
    h1 {
        margin: 0;
        padding: 0.5em 0;
        font-size: 2.2em;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
    }

    p {    
        font-size: .9em;
        color: #5e5e5e;
        margin: .2em;
        text-align: center;}
}


@media (max-width:800px) {
    .graph-input-container {
        flex-direction:column;
    }
}