@import '../../mixins';

.input-data-main {
    width:30%;
    padding:2em 0;
}

.input-data-container {   
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px 40px rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding: 1em;
    border-radius: 3px;
    text-align:center;
    background-color:white;

    h3 {
        @include subtitle;
    }

    form {
    display:flex;
    width:100%;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

        input[type="submit"] {
            width:100%;  
            margin-top:1em;          
        }
    }
}

.labels-inputs-container {
    display:flex;
    width:50%;
    align-items:center;

    label {
        width:30%;
        text-align:center;
    }
    input {
        width:70%;
        @include inputBorderBottom        
    }
}

.input-data-cells {
    display:flex;
    display: flex;
    align-items: center;
    justify-content: space-around;

    p {
        border-bottom: 1px solid grey;
        margin:0.5em 0;
        width:30%;
        text-align:center;
    }
}

.clear-data {
    width:100%;
    margin-top:1em;
}

@media (max-width:800px) {
    .input-data-main {
        width:100%;
    }
}