$orange : #fd7735;
$darkOrange : #b85300;
$inputBorderBottom : rgb(8, 8, 8);
$inputBorderBottomFocus : rgb(85, 85, 85);

@mixin buttonOrange {
    background-color: $orange;
    color: white;
    padding: 0.5em 1em;
    border-radius: 3px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    box-shadow: 0 3px 1px rgba(0,0,0,.3);    
    border: none;
    outline: none;

    &:hover {
        background-color: $darkOrange;
        box-shadow: none;
        cursor:pointer;
    }
}

@mixin ghostButtonOrange {
    background-color: transparent;
    color: $orange;
    padding: 0.5em 1em;
    border-radius: 3px;
    transition: all .1s linear;   
    border: 1px solid #fd7735;
    outline: none;
    &:hover {
        background-color: $orange;    
        color: white;    
        cursor:pointer;
    }
}

@mixin inputBorderBottom {
    border: none;
    border-bottom: 2px solid $inputBorderBottom;
    outline:none;
    text-align:center;
    background-color:rgba(0,0,0,0);
    &:focus {
        border-bottom:2px solid $inputBorderBottomFocus;
    }
}

@mixin subtitle {
    margin:0;
    padding:0.5em 0;
    font-weight:500;
}

@mixin paragraph {
    font-size: .9em;
    color: #5e5e5e;
    margin: .2em;
    text-align: center;
}