.linear-regression-component-container {
    background-color: rgb(0, 0, 43);
    color:white;
}

.linear-regression-chart-container {
    width:80%;
    
}

.graph-input-container {
    display:flex;
    justify-content: center;
}

.input-data-container {
    width:20%;
}

.input-data-container form {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}



@mixin buttonOrange {
    background-color: #ff7403;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 3px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    box-shadow: 0 3px 1px rgba(0,0,0,.3);    
    border: none;
    outline: none;

    &:hover {
        background-color: #b85300;
        box-shadow: none;
    }
}

.graph-input-container button {
@include buttonOrange();
}

input[type="submit"] {
    @include buttonOrange();
}

